
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row footer-div">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">This is my first fully functional Node.js project using express.js. It is fully scalable and I will continue to work on it here and there. Our database of choice is MongoDB. Our security/authentication of choice was the Passport npm package, that incorporates hashing as well as salting and O-Auth. The Data you see on screen is all sample data, to create personal schedules and events please make an account.</p>
        </div>

        <!-- <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="#">Java Script</a></li>
            <li><a href="#">UI Design</a></li>
            <li><a href="#">PHP</a></li>
            <li><a href="#">Java</a></li>
            <li><a href="#">Python</a></li>
            <li><a href="#">Templates</a></li>
          </ul>
        </div> -->

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="https://forms.gle/SnwwPb9i2m9hgHZc9" target="_blank">Contact Us</a></li>
            <!-- Github Link -->
            <li><a href="#">Contribute</a></li>

            <!-- <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Sitemap</a></li> -->
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
       <a href="#">T469</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/holder.min.js"></script> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
  <script src="/path/to/cdn/moment.min.js"></script>
  <script src="https://kit.fontawesome.com/52d0a984a1.js" crossorigin="anonymous"></script>
  <script src="js/script.js">  </script>
</body>
</html>
